{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<h1>Login</h1>
<form method="POST">
    {% csrf_token %} 
    {{ form.as_p }}
    <input type="submit" value="Log In" class="btn btn-success">
</form>
<p style="color: white;;">Don't have an account? Click <a href="{% url 'signup' %}">here</a> to sign up! </p>
<p style="color:white;">Forgot your Password? Click <a href="{% url 'password_reset' %}">here</a> to reset. </p>

{% endblock content %}