{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="main-bg">

    <h1 style="text-align:center;font-family: cooper;color: whitesmoke; -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color:black;font-size: 50px;">Who's ready to start BLOGGIN'?!?
    </h1>
    <div class="home-body" style="margin: 30px; padding: 10px; border: solid 1px;background: rgb(211, 211, 211, .8);">
        <p style="margin: 10px;color: black;"> Welcome to our incredible blog website. There are none other like it in
            this world. Feel free to blog something.
            Or don't...it's your life, live it how you want to.  In the meantime, here's a picture of somebody typing.</p>

        <div class="main_image">
            <img src='static/img/wordpress-923188_1920.jpg' class="img-fluid"></div>
        <h5 style="text-align:center;color: black;">Blogs Away!</h5>

    </div>
</div>
{% endblock content %}